h1 {
    margin-top: 70px;
}

h2 {
    font-size: 1.4em;
}

#buttonContainer {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#buttonContainer button {
    width: 100px;
    height: 30px;
    font-size: 0.6em;
    background-color: #1F1F1F;
    color: white;
}

#buttonContainer button:hover {
    background-color: yellow;
    color: #1F1F1F;
    border: 1px solid black;
}

#buttonContainer button.active {
    background-color: yellow;
    color: #1F1F1F;
    border: 1px solid black;
}

#curiositySection {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#curiositySection div p {
    font-size: 0.7em;
}

ul {
    margin: auto;
    font-size: 0.7em;
    width: 100%;
}

.container {
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 300px;
}

.container p {
    width: 250px;
    margin-top: 0px;
}

#adminForm {
    margin: auto;
    margin-top: 70px;
    margin-bottom: 250px;
}

#adminForm input {
    margin-top: 10px;
}

#databaseCuriosities {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#createCuriosity {
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 70px;
}

@media screen and (min-width: 1000px) {

    
#curiositySection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

#curiositySection div p {
    font-size: 0.7em;
}

ul {
    margin: auto;
    margin-top: 0px;
    font-size: 0.8em;
    width: 70%;
}

.container {
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    width: 300px;
}

#databaseCuriosities {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 25px;
}
}