h1 {
    margin-top: 70px;
}

h2 {
    font-size: 1.4em;
}

#buttonContainer {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#buttonContainer button {
    width: 100px;
    height: 30px;
    font-size: 0.6em;
    background-color: #1F1F1F;
    color: white;
}

#buttonContainer button:hover {
    background-color: yellow;
    color: #1F1F1F;
    border: 1px solid black;
}

#buttonContainer button.active {
    background-color: yellow;
    color: #1F1F1F;
    border: 1px solid black;
}

#curiositySection {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#curiositySection div {
    max-width: 90%;
    height: 500px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f7f7f7;
    color: rgb(0, 0, 0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#curiositySection div p {
    font-size: 0.7em;
    width: 300px;
}

ul {
    margin: auto;
    font-size: 0.8em;
    width: 70%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: start;
}

@media screen and (min-width: 1000px) {
    #curiositySection {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        gap: 5px;
    }

    #curiositySection div {
        width: 450px;
        padding: 0px;
        margin: 0px;
        border-radius: 10px;
        background-color: #f7f7f7;
        color: rgb(0, 0, 0);
    }

    #curiositySection div p {
        width: 350px;
        font-size: 0.8em;
        padding: 10px;
        margin: 0px;
    }
}