#backHome {
    border: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    box-sizing: content-box;
    text-align: center;
    margin-top: 40px;
    padding: 25px;
    position: relative;
    top: 0;
}

form button {
    width: 100%;
    margin-top: 10px;
    font-size: 0.8em;
}

#greeting {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 250px;
}

a {
    margin: 10px;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.buttons:last-child {
    width: 260px;
    height: 50px;
}

.question {
    font-size: 1.2em;
}

.curiosities {
    width: 300px;
    padding: 35px 15px;
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6d6d6;
    border-radius: 10px;
    font-size: 1.1em;
}

.curiosities p {
    width: 300px;
    text-align: justify;
    font-size: 0.9em;
    text-indent: 0px;
}

#doubt h3 {
    font-size: 1em;
    margin-bottom: 0px;
}

#doubt p {
    text-indent: 0px;
}

.formAll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formAll input {
    width: 300px;
}

@media screen and (min-width: 1000px) {
    .formAll input {
        width: 650px;
    }

    .buttons {
        display: flex;
        align-items: center;
        margin-top: 15px;
    }
    
    .buttons:last-child {
        width: 600px;
        height: 50px;
    }

    .curiosities {
        width: 650px;
        padding: 35px 15px;
        margin: auto;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #d6d6d6;
        border-radius: 10px;
        font-size: 1.1em;
    }

    .curiosities p {
        width: 650px;
        text-align: justify;
        font-size: 1.1em;
        text-indent: 0px;
    }
}