#mainBackground {
    background-color: rgb(145, 145, 145);
    width: 100%;
    height: 300px;
}

#main h2 {
    font-size: 2.2em;
    padding: 25px;
    margin: 0px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#main h2 span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.7em;
}

#main p {
    padding: 0px 25px;
    margin: auto;
    margin-bottom: 30px;
    text-align: justify;
}

#mainButtons {
    width: 100%;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

#mainButtons button {
    width: 300px;
    margin-bottom: 5px;
}

#carousel {
    width: 100%;
    height: 350px;
    margin: 60px 0px 20px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#carousel h2 {
    display: block;
}


img {
    width: 100%;
    height: 400px;
}

#text {
   display: block;
}

@media screen and (min-width: 1000px) {

    #main h2 {
        font-size: 3em;
    }

    #mainBox {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #carousel {
        width: 100%;
        height: 700px;
    }

    #carousel h2 {
        width: 750px;
        font-size: 3.5em;
        color: white;
        position: absolute;
        top: 170px;
        visibility: visible;
        text-shadow: 1px 2px 2px black;
    }

    #text {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
    }

    p {
        padding: 0px 25px;
        margin: 0px;
        text-align: justify;
        font-size: 1.1em;
    }
    
    img {
        width: 100%;
        height: 700px;
    }
}

