.articleImg {
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#portugueseFlag {
    width: 100%;
    height: 250px;
    margin: auto;
    margin-top: 30px;
    background-image: url('/public/portugueseflag.jpg');
    background-size: cover;
    background-position: center;
}

#oldPeople {
    background-image: url('/public/oldPeople.jpg');
    height: 180px;
}

#castleGuimaraes {
    background-image: url('/public/castleGuimaraes.png');
}

#revolution {
    background-image: url('/public/revolution.jpg');
    height: 180px;
}

#euFlag {
    background-image: url('/public/euflag.png');
}

h1 {
    font-size: 1.7em;
    margin: 10px;
    text-align: center;
}

p {
    padding: 15px;
    text-align: justify;
    text-indent: 15px;
}


@media screen and (min-width: 500px) {
    #portugueseFlag {
        width: 100%;
        height: 650px;
    }

    .articleImg {
        width: 450px;
        height: 450px;
    }

    #oldPeople {
        height: 300px;
    }
    #revolution {
        height: 300px;
    }
}