#h1 {
    margin-top: 80px;
}

#articlesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#articlesContainer div {
    width: 300px;
    height: 350px;
    background-color: gold;
    display: flex;
    align-items: end;   
    transition: .5s;
} 

#articlesContainer div p {
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    width: 100%;
    padding: 20px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#articlesContainer div span {
    color: red;
}

.introText {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

#article1 {
    background-image: url('/article1Background.jpg');
    background-size: cover;
}

#article2 {
    background-image: url('/article2Background.jpg');
    background-size: cover;
}

#article3 {
    background-image: url('/article3Background.jpg');
    background-size: cover;
}

#beachArticle {
    text-align: center;
    margin-top: 40px;
}

.backgroundImg {
    width: 100%;
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#beachBackground {
    background-image: url('/beachBackground.jpg');
}

#beachBackground h1 {
    font-size: 2em;
}


.tourismArticlesImg {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.tourismArticlesImg div {
    width: 175px;
    height: 175px;
    background-size: cover;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 25px;
}

#marinhaBeach1 {
    background-image: url('/marinhaBeach1.jpeg');
}

#marinhaBeach2 {
    background-image: url('/marinhaBeach2.jpeg');
}

#benagilBeach1 {
    background-image: url('/benagilBeach1.jpg');
}

#benagilBeach2 {
    background-image: url('/benagilBeach2.jpg');
}

#benagilBeach3 {
    background-image: url('/benagilBeach3.jpg');
    width: 300px;
    height: 180px;
    background-size: cover;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

#ursaBeach1 {
    background-image: url('/ursaBeach1.jpg');
}

#ursaBeach2 {
    background-image: url('/ursaBeach2.jpg');
}

#rochaBeach1 {
    background-image: url('/rochaBeach1.jpg');
}

#rochaBeach2 {
    background-image: url('/rochaBeach2.jpg');
}

#rochaBeach3 {
    background-image: url('/rochaBeach3.jpg');
    width: 300px;
    height: 180px;
    background-size: cover;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

#guinchoBeach1 {
    background-image: url('/guinchoBeach1.jpg');
}

#guinchoBeach2 {
    background-image: url('/guinchoBeach2.jpg');
}

#guinchoBeach3 {
    background-image: url('/guinchoBeach3.jpg');
    width: 300px;
    height: 180px;
    background-size: cover;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

#pastelNataBackground {
    background-image: url('/pastelNataBackground.jpg');   
}

#pastelNataBackground h1 {
    width: 70%;
    font-size: 2em;
}

#pasteldeNata1 {
    background-image: url('/pasteldeNata1.jpg');
    width: 300px;
    height: 180px;
    background-size: cover;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

#pasteisBelem {
    background-image: url('/pasteisBelem.jpg');
    width: 300px;
    height: 300px;
    background-size: cover;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

#madeiraArticle {
    text-align: center;
    margin-top: 40px;
}

#madeiraBackground {
    background-image: url('/madeiraBackground.jpg');
}

#madeiraBackground h1 {
    width: 70%;
    font-size: 2em;
}

#funchal1 {
    background-image: url('/funchal1.jpg');
}

#funchal2 {
    background-image: url('/funchal2.jpg');
}

#arieiro1 {
    background-image: url('/arieiro1.jpeg');
    width: 300px;
    height: 180px;
    background-size: cover;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

#arieiro2 {
    background-image: url('/arieiro2.jpeg');
}

#arieiro3 {
    background-image: url('/arieiro3.jpg');
    
}

#girao1 {
    background-image: url('/girao1.jpg');
}

#girao2 {
    background-image: url('/girao2.jpeg');
    
}

#portomoniz1 {
    background-image: url('/portomoniz1.jpg');
    width: 300px;
    height: 180px;
    background-size: cover;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

#portomoniz2 {
    background-image: url('/portomoniz2.jpg');
}

#portomoniz3 {
    background-image: url('/portomoniz3.jpg');
}

#santuario1 {
    background-image: url('/santuario1.jpg');
    width: 300px;
    height: 180px;
    background-size: cover;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

#santuario2 {
    background-image: url('/santuario3.jpg');
}

#santuario3 {
    background-image: url('/santuario2.jpg');
}

aside div {
    width: 250px;
    height: 250px;
    background-color: gold;
    display: flex;
    align-items: end;   
    transition: .5s;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

aside div p {
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 600;
    font-size: 0.8em;
    width: 100%;
    padding: 15px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

aside div span {
    color: red;
}

@media screen and (min-width: 500px) {

    h1, h2, h3, h4, h5 {
        margin-top: 45px;
        font-size: 2em;
    }

    span {
        font-size: 1.4em;
    }

    p {
        width: 80%;
        font-size: 1.1em;
        line-height: 1.7em;
        margin: auto;
    }

    #articlesContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    
    #articlesContainer div {
        width: 350px;
        height: 400px;
        background-color: gold;
        display: flex;
        align-items: end;   
        transition: .5s;
    } 

    .tourismArticlesImg div {
        width: 275px;
        height: 275px;
        margin-bottom: 30px;
    }
    
    #beachBackground {
        width: 100%;
        height: 500px;
    }

    #beachBackground h1 {
        font-size: 3em;
    }

    #beachBackground p {
        font-size: 1.9em;
    }
    
    #benagilBeach3 {
        width: 430px;
        height: 240px;
    }

    #rochaBeach3 {
        width: 430px;
        height: 240px;
    }
    
    #guinchoBeach3 {
        width: 430px;
        height: 240px;
    }

    #pastelNataBackground {
        width: 100%;
        height: 500px;
    }

    #pastelNataBackground h1 {
        font-size: 3em;
    }

    #pastelNataBackground p {
        font-size: 1.9em;
    }

    #pasteldeNata1 {
        width: 430px;
        height: 240px;
    }

    #pasteisBelem {
        width: 430px;
        height: 240px;
    }

    #madeiraBackground {
        width: 100%;
        height: 500px;
    }

    #madeiraBackground h1 {
        font-size: 3em;
    }

    #arieiro1 {
        width: 430px;
        height: 240px;
    }

    #portomoniz1 {
        width: 430px;
        height: 240px;
    }
    
    #santuario1 {
        width: 430px;
        height: 240px;
    }
}

@media screen and (min-width: 900px) {

    

    h1, h2, h3, h4, h5 {
        margin-top: 45px;
        font-size: 2em;
    }

    span {
        font-size: 1.4em;
    }

    p {
        width: 750px;
        font-size: 1.2em;
        line-height: 1.7em;
        margin: auto;
    }

    #articlesContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    
    #articlesContainer div {
        width: 300px;
        height: 350px;
        background-color: gold;
        display: flex;
        align-items: end;   
        transition: .5s;
    }
    
    .tourismArticlesImg {
        width: 75%;
        margin: auto;
        justify-content: space-between;
    }

    .tourismArticlesImg div {
        width: 450px;
        height: 450px;
        margin-bottom: 50px;
        gap: 10px;
    }

    #beachBackground {
        width: 100%;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    #beachBackground h1 {
        font-size: 4.5em;
    }


    #beachBackground p {
        font-size: 2.5em;
    }

    #benagilBeach3 {
        width: 580px;
        height: 320px;
    }

    #rochaBeach3 {
        width: 580px;
        height: 320px;
    }

    #guinchoBeac
    h3 {
        width: 580px;
        height: 320px;
    }

    #pastelNataBackground {
        width: 100%;
        height: 650px;
    }

    #pastelNataBackground h1 {
        font-size: 4.5em;
    }

    #pastelNataBackground p {
        font-size: 2.5em;
    }

    #pasteldeNata1 {
        width: 580px;
        height: 320px;
    }

    #pasteisBelem {
        width: 580px;
        height: 320px;
    }

    #madeiraBackground {
        width: 100%;
        height: 650px;
    }

    #madeiraBackground h1 {
        font-size: 4.5em;
    }

    #arieiro1 {
        width: 580px;
        height: 320px;
    }

    #portomoniz1 {
        width: 580px;
        height: 320px;
    }

    #santuario1 {
        width: 580px;
        height: 320px;
    }

    aside {
        width: 650px;
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    aside section {
        display: flex;
        flex-direction: row;
    }

    aside div {
        width: 250px;
        height: 250px;
        background-color: gold;
        display: flex;
        align-items: end;   
        transition: .5s;
        margin: auto;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
    }
}