#h1 {
    margin-top: 80px;
}

#articlesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#articlesContainer div {
    width: 300px;
    height: 350px;
    background-color: gold;
    display: flex;
    align-items: end;   
    transition: .5s;
    border-radius: 5px;
} 

#articlesContainer div p {
    background-color: yellow;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 600;
    width: 100%;
    padding: 20px;
    margin: 0px;
    border-radius: 0px 0px 5px 5px;
}

.introText {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}


#article1 {
    background-image: url('/article1Background.jpg');
    background-size: cover;
}

#article2 {
    background-image: url('/article2Background.jpg');
    background-size: cover;
}

#beachArticle {
    text-align: center;
    margin-top: 40px;
}

#beachBackground {
    width: 100%;
    height: 300px;
    background-image: url('/beachBackground.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#beachBackground h1 {
    font-size: 2em;
}


.tourismArticlesImg {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.tourismArticlesImg div {
    width: 175px;
    height: 175px;
    background-size: cover;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 25px;
}

#marinhaBeach1 {
    background-image: url('/marinhaBeach1.jpeg');
}

#marinhaBeach2 {
    background-image: url('/marinhaBeach2.jpeg');
}

#benagilBeach1 {
    background-image: url('/benagilBeach1.jpg');
}

#benagilBeach2 {
    background-image: url('/benagilBeach2.jpg');
}

#benagilBeach3 {
    background-image: url('/benagilBeach3.jpg');
    width: 300px;
    height: 180px;
    background-size: cover;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

#ursaBeach1 {
    background-image: url('/ursaBeach1.jpg');
}

#ursaBeach2 {
    background-image: url('/ursaBeach2.jpg');
}

#rochaBeach1 {
    background-image: url('/rochaBeach1.jpg');
}

#rochaBeach2 {
    background-image: url('/rochaBeach2.jpg');
}

#rochaBeach3 {
    background-image: url('/rochaBeach3.jpg');
    width: 300px;
    height: 180px;
    background-size: cover;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

#guinchoBeach1 {
    background-image: url('/guinchoBeach1.jpg');
}

#guinchoBeach2 {
    background-image: url('/guinchoBeach2.jpg');
}

#guinchoBeach3 {
    background-image: url('/guinchoBeach3.jpg');
    width: 300px;
    height: 180px;
    background-size: cover;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

#pastelNataBackground {
    width: 100%;
    height: 300px;
    background-image: url('/pastelNataBackground.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#pastelNataBackground h1 {
    width: 70%;
    font-size: 2em;
}

#pasteldeNata1 {
    background-image: url('/pasteldeNata1.jpg');
    width: 300px;
    height: 180px;
    background-size: cover;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

#pasteisBelem {
    background-image: url('/pasteisBelem.jpg');
    width: 300px;
    height: 300px;
    background-size: cover;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

aside div {
    width: 250px;
    height: 250px;
    background-color: gold;
    display: flex;
    align-items: end;   
    transition: .5s;
    border-radius: 5px;
    margin: auto;
}

aside div p {
    background-color: yellow;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 600;
    width: 100%;
    padding: 15px;
    margin: 0px;
    border-radius: 0px 0px 5px 5px;
}

@media screen and (min-width: 500px) {

    h1, h2, h3, h4, h5 {
        margin-top: 45px;
        font-size: 2em;
    }

    span {
        font-size: 1.4em;
    }

    p {
        width: 80%;
        font-size: 1.1em;
        line-height: 1.7em;
        margin: auto;
    }

    #articlesContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    
    #articlesContainer div {
        width: 350px;
        height: 400px;
        background-color: gold;
        display: flex;
        align-items: end;   
        transition: .5s;
        border-radius: 5px;
    } 

    .tourismArticlesImg div {
        width: 275px;
        height: 275px;
        margin-bottom: 30px;
    }
    
    #beachBackground {
        width: 100%;
        height: 500px;
    }

    #beachBackground h1 {
        font-size: 3em;
    }

    #beachBackground p {
        font-size: 1.9em;
    }
    
    #benagilBeach3 {
        width: 430px;
        height: 240px;
    }

    #rochaBeach3 {
        width: 430px;
        height: 240px;
    }
    
    #guinchoBeach3 {
        width: 430px;
        height: 240px;
    }

    #pastelNataBackground {
        width: 100%;
        height: 500px;
    }

    #pastelNataBackground h1 {
        font-size: 3em;
    }

    #pastelNataBackground p {
        font-size: 1.9em;
    }

    #pasteldeNata1 {
        width: 430px;
        height: 240px;
    }

    #pasteisBelem {
        width: 430px;
        height: 240px;
    }
}

@media screen and (min-width: 900px) {

    

    h1, h2, h3, h4, h5 {
        margin-top: 45px;
        font-size: 2em;
    }

    span {
        font-size: 1.4em;
    }

    p {
        width: 750px;
        font-size: 1.2em;
        line-height: 1.7em;
        margin: auto;
    }

    #articlesContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    
    #articlesContainer div {
        width: 300px;
        height: 350px;
        background-color: gold;
        display: flex;
        align-items: end;   
        transition: .5s;
        border-radius: 5px;
    }
    
    .tourismArticlesImg {
        width: 75%;
        margin: auto;
        justify-content: space-between;
    }

    .tourismArticlesImg div {
        width: 450px;
        height: 450px;
        margin-bottom: 50px;
        gap: 10px;
    }

    #beachBackground {
        width: 100%;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    #beachBackground h1 {
        font-size: 4.5em;
    }


    #beachBackground p {
        font-size: 2.5em;
    }

    #benagilBeach3 {
        width: 580px;
        height: 320px;
    }

    #rochaBeach3 {
        width: 580px;
        height: 320px;
    }

    #guinchoBeac
    h3 {
        width: 580px;
        height: 320px;
    }

    #pastelNataBackground {
        width: 100%;
        height: 650px;
    }

    #pastelNataBackground h1 {
        font-size: 4.5em;
    }

    #pastelNataBackground p {
        font-size: 2.5em;
    }

    #pasteldeNata1 {
        width: 580px;
        height: 320px;
    }

    #pasteisBelem {
        width: 580px;
        height: 320px;
    }
}